body{
	
	font-size:13px;
	 color: #65686d;
	
}

.main-container {
	 width:600px;
	 margin:auto;
	 text-align:center;
	
}

tr#nodata td{
	text-align:center;
}

.paging{
	text-align:right;
}

.paging button{
	padding:4px 10px;
	color: #333;
}

.paging button:hover{
	cursor:pointer;
}

.paging button.active{
	font-weight:bold;
	color: #000;
}

table {
	width:100%;
	margin:auto;
	border:1px solid #ddd;
}

table img{
	width:128px;
	height:128px;
}

table th.avatar{
	width:128px;
}
      
table td, table th {
	border:1px solid #ddd;
	text-align:left;
	padding:10px;
}

table th{
	font-weight:bold;
}

table tr:nth-child(odd) td:not(th){
	 background: #f5f5f5;
}
      
table tr:nth-child(even) td:not(th) {
	background: #ffffff;
}
    